.about {
    height: 100vh;
}

.about .aboutContent {
    display: flex;
}

.about .leftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 88vh;
    padding-left: 8vw;
    width: 45vw;
    margin-top: 12vh;
}

.about .leftCol text {
    font-family: Prata;
    color: white;
    font-size: 5vw;
    margin-bottom: 12vh;
}

.about .leftCol button {
    font-family: Montserrat;
    color: white;
    background-color: transparent;
    border: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2.5vw;
    outline: none;
    cursor: pointer;
}

.about .leftCol button:active {
    opacity: 0.6;
    transform: scale(0.95);
}

.about .leftCol div {
    height: 2px;
}

.about .leftCol .buttonBorder {
    height: 2px;
    background: linear-gradient(270deg, rgba(75,84,206,1) 0%, rgba(43,148,207,1) 27%, rgba(25,185,207,1) 53%, rgba(0,236,208,1) 100%);
    border: 0;
}

.about .rightCol {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55vw;
}

.about .rightCol text {
    font-family: Montserrat;
    text-align: justify;
    font-size: 1.2vw;
    color: white;
}

.about .rightCol text:not(:first-child) {
    padding-top: 5vh;
}

.about .rightCol .aboutFirstText {
    text-indent: 1.5vw;
    padding-top: 0px !important;
}

.about .rightCol div {
    transition: visibility 0.3s, opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 1;
    padding-right: 8vw;
    position: absolute;
    padding-top: 8vh;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.about .rightCol .hide {
    visibility: hidden;
    transition-delay: 0.0s !important;
    opacity: 0;
}

@media (max-width: 600px) {
    .about .header .menuButton {
        background-color: #09292F;
    }
    
    .about .aboutContent {
        flex-direction: column;
    }

    .about .leftCol text {
        display: none;
    }

    .about .leftCol {
        height: 7vh;
        flex-direction: row;
        width: 100vw;
        padding: 0px;
        padding-top: 12vh;
        margin: 0px;
        background-color: #09292F;
    }

    .about .leftCol .buttonBorder {
        height: 1px;
    }

    .about .leftCol button {
        font-size: 3.5vw;
    }

    .about .rightCol {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        height: 79vh;
        padding-top: 2vh;
    }

    .about .rightCol text {
        font-size: 3.8vw;
        font-weight: 100;
        line-height: 3vh;
    }

    .about .rightCol div {
        padding: 7vh 7vw 0vh 7vw;
        max-height: 77vh;
        overflow: auto;
    }

    .about .rightCol div:first-child {
        padding-top: 0px;
    }

    .about .rightCol .aboutFirstText {
        text-indent: 4vw;
    }

    .about .rightCol .textBold {
        font-weight: bold;
    }

    .about .rightCol text:not(:first-child) {
        padding-top: 5vh;
    }
}