.about {
    height: 88vh;
    padding-top: 12vh;
}

.about .aboutHeader {
    display: flex;
    height: 30vh;
    justify-content: space-around;
}

.about .aboutHeader button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    padding: 1vw;
}

.about .aboutHeader button p {
    font-weight: 500;
    margin-bottom: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.about .aboutHeader button:active {
    opacity: 0.6;
    transform: scale(0.95);
}

.about .aboutHeader .buttonBorder {
    height: 2px;
    background: linear-gradient(270deg, rgba(75,84,206,1) 0%, rgba(43,148,207,1) 27%, rgba(25,185,207,1) 53%, rgba(0,236,208,1) 100%);
    border: 0;
}

.about .aboutContent {
    position: relative;
    height: 58vh;
    width: 100vw;
}

.about .aboutContent .content {
    transition: visibility 0.3s, opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.about .aboutContent .hide {
    visibility: hidden;
    transition-delay: 0.0s !important;
    opacity: 0;
}

.about .content div::-webkit-scrollbar {
    display: none;
}

.about .aboutContent .content div {
    width: 54vw;
    padding-left: 4vw;
    padding-right: 2vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.about .aboutContent .content img {
    width: 40vw;
}

.about .aboutContent .content p:first-child {
    margin-bottom: 5vh;
    font-weight: 500;
    font-size: 1.2vw;
}

.about .aboutContent .content p:not(:first-child) {
    text-indent: 1vw;
    line-height: 4vh;
    font-size: 1.2vw;
}

@media (max-width: 600px) {
    
}