.contactSuccess {
    width: 30vw;
}

.contactSuccess .cardContact .cardContactHeader {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center !important;
    align-items: center;
}

.contactSuccess .cardContact .cardContactHeader text {
    margin-bottom: 7vh;
    text-align: justify;
}

.contactSuccess .cardContact .cardContactHeader img {
    width: 4vw;
}

@media (max-width: 600px) {
    .contactSuccess {
        width: 80vw;
        padding: 0px 10vw;
    }

    .contactSuccess .cardContact .cardContactHeader {
        height: 35vh;
    }

    .contactSuccess .cardContact .cardContactHeader img {
        width: 13vw;
    }
}

