.portifolio {
    height: 100vh;
}

.portifolio .title {
    font-size: 5vw;
    font-family: Prata;
    color: rgb(172, 105, 105);
    margin-top: 5vh;
    margin-left: 5vw;
}

.portifolio .subTitle {
    width: 100vw;
    text-align: center;
    color: #00FF57;
    font-size: 1.6vw;
    margin-top: 6vh;
}

.portifolio .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 10vh;
}

.portifolio .cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background: white;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
}

.portifolio .cards div:active {
    transform: scale(0.99);
    opacity: 0.9;
}

.portifolio .cards .cardRow {
    width: 45vh;
    background-color: transparent;
}

.portifolio .cards .cardMobile {
    width: 25vh;
    border-radius: 20px;
    padding-right: 1vw;
    padding-left: 1vw;
    box-shadow: 0px 5px 5px #000000b0;
}

.portifolio .cards .cardWeb {
    width: 42vh;
    border-radius: 20px;
    padding-top: 5vh;
    box-shadow: 0px 5px 5px #000000b0;
}

.portifolio .cardDesign {
    width: 40vh;
    margin-left: 6vw;
    padding-top: 2.7vh;
    box-shadow: 0px 5px 5px #000000b0;
}

.portifolio .cards .cardMobile:hover {
    background-color: #00C564;
}

.portifolio .cards .cardWeb:hover {
    background-color: #0B94A7;
}

.portifolio .cardDesign:hover {
    background-color: #E4021D;
}

.portifolio .cards text {
    font-family: Montserrat;
    color: black;
    font-weight: 600;
    margin-bottom: 4vh;
    font-size: 3vh;
    text-align: center;
}

.portifolio .cards .textHover {
    color: white;
}

.portifolio .cards .cardWeb text {
    margin-bottom: 3.8vh;
}

.portifolio .cards img {
    width: 2vw;
}

.portifolio .cards .cardWeb img {
    width: 3.8vw;
}

.portifolio .cards .cardDesign img {
    width: 2.6vw;
}

@media (max-width: 600px) {
    .portifolio .title {
        display: none;
    }

    .portifolio .subTitle {
        margin-top: 15vh;
        font-size: 5vw;
    }

    .portifolio .cards {
        max-height: 78vh;
        overflow: auto;
        margin-top: 2vh;
    }

    .portifolio .cards .cardRow {
        margin-top: 4vh;
        margin-bottom: 1vh;
    }

    .portifolio .cards div {
        height: 27vh;
    }

    .portifolio .cards .cardMobile {
        width: 18vh;
    }

    .portifolio .cards .cardWeb {
        width: 27vh;
    }

    .portifolio .cards .cardDesign {
        width: 27vh;
        margin-left: 0px;
    }

    .portifolio .cards text {
        font-size: 1.9vh;
        font-weight: 700;
    }

    .portifolio .cards img {
        width: 8vw;
    }
    
    .portifolio .cards .cardWeb img {
        width: 15vw;
    }
    
    .portifolio .cards .cardDesign img {
        width: 10vw;
    }
}