.services {
    height: 100vh;
}

.services .servicesContent{
    display: flex;
}

.services .leftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-left: 8vw;
    width: 45vw;
}

.services .leftCol text {
    font-family: Prata;
    color: white;
    font-size: 5vw;
    margin-bottom: 12vh;
}

.services .leftCol button {
    font-family: Montserrat;
    color: white;
    background-color: transparent;
    border: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2.5vw;
    outline: none;
    cursor: pointer;
}

.services .leftCol button:active {
    opacity: 0.4;
    transform: scale(0.95);
}

.services .leftCol div div {
    height: 2px;
}

.services .leftCol .buttonBorder {
    height: 2px;
    background: linear-gradient(to right, #4B54CE, #00ECD0);
    border: 0;
}

.services .rightCol {
    height: 100vh;
    width: 55vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services .rightCol text {
    font-family: Montserrat;
    text-align: justify;
    font-size: 1.2vw;
    color: white;
}

.services .rightCol text:not(:first-child) {
    padding-top: 5vh;
}

.services .rightCol .aboutFirstText {
    text-indent: 1.5vw;
    padding-top: 0px !important;
}
.services .rightCol div {
    transition: visibility 0.3s, opacity 0.3s;
    transition-delay: 0.2s;
    opacity: 1;
    padding-right: 8vw;
    position: absolute;
    padding-top: 8vh;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.services .rightCol .hide {
    visibility: hidden;
    transition-delay: 0.0s !important;
    opacity: 0;
}

.services .rightCol .divButton {
    background: linear-gradient(to right, #4B54CE, #00ECD0);
    width: 15vw;
    height: 5vh;
    padding: 2px;
    border-radius: 0.6vw;
    right: 8vw;
    top: 65vh;
}

.services .rightCol .divButton:active {
    transform: scale(0.98);
}

.services .rightCol button {
    background-color: white;
    border: none;
    border-radius: 0.6vw;
    height: 100%;
    outline: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
}

.services .rightCol button img {
    width: 1vw;
    margin-left: 1vw;
}

@media (max-width: 600px) {
    .services .header .menuButton {
        background-color: #09292F;
    }
    
    .services .servicesContent {
        flex-direction: column;
    }

    .services .leftCol text {
        display: none;
    }

    .services .leftCol {
        height: 7vh;
        flex-direction: row;
        width: 100vw;
        padding: 0px;
        padding-top: 12vh;
        background-color: #09292F;
    }

    .services .leftCol .itens {
        overflow-x: auto;
        display: flex;
    }

    .services .leftCol .itens::-webkit-scrollbar {
        display: none;
    }

    .services .leftCol .buttonBorder {
        height: 1px;
    }

    .services .leftCol button {
        font-size: 3.5vw;
        white-space: nowrap;
        margin-left: 1vw;
    }

    .services .leftCol button:first-child {
        margin-left: 5vw;
    }

    .services .rightCol {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        height: 79vh;
        padding-top: 2vh;
    }

    .services .rightCol text {
        font-size: 3.8vw;
    }

    .services .rightCol div {
        padding: 7vh 7vw 0vh 7vw;
        max-height: 77vh;
        overflow: auto;
    }

    .services .rightCol .aboutFirstText {
        text-indent: 0px;
    }

    .services .rightCol text:not(:first-child) {
        padding-top: 5vh;
    }

    .services .rightCol .divButton {
        width: 60vw;
        height: 5vh;
        right: 20vw;
        border-radius: 3.5vw;
    }

    .services .rightCol .divButton button {
        font-size: 4vw;
        border-radius: 3.5vw;
    }

    .services .rightCol button img {
        width: 4vw;
        margin-left: 5vw;
    }
}