.portifolioWeb .divImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12vh;
}

.portifolioWeb .divImage img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

@media (max-width: 600px) {
  .portifolioWeb .divImage {
    padding-top: 0px;
    flex-direction: column;
  }
}