.contact {
  height: 100vh;
  min-height: 500px;
}

.contact .contactContent {
  display: flex;
}

.contact .leftCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 88vh;
  padding-left: 5vw;
  margin-top: 12vh;
  width: 58vw;
}

.contact .title {
  font-size: 5vw;
  color: white;
  font-family: Prata;
  margin-top: 8vh;
}

.contact .divSubTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 25vh;
}

.contact .divSubTitle text {
  font-size: 1.5vw;
  color: white;
  font-family: Montserrat;
}

.contact .divSubTitle text:first-child {
  margin-bottom: 3vh;
}

.contact .divSubTitle img {
  width: 1.6vw;
  margin-left: 1vw;
}

.contact .divContact {
  background: linear-gradient(to right, #4B54CE, #00ECD0);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 3vh;
  margin-left: 3.5vw;
}

.contact .divContact div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #304448;
  border-radius: 15px;
  height: 15vh;
  padding: 2vh 3vh;
}

.contact .divContact div text {
  color: white;
  font-size: 1.3vw;
  font-family: Montserrat;
}

.contact .divContact div text text {
  font-weight: 600;
  margin-right: 0.7vw;
  font-size: 1.4vw;
}

.contact .rightCol {
  width: 42vw;
}

.contact .contactFooter {
  display: none;
}

@media (max-width: 600px) {
  .contact .leftCol {
    display: none;
  }

  .contact .rightCol {
    width: 100vw;
    margin-top: 15vh;
  }

  .contact .contactFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 9vh;
  }

  .contact .contactFooter text {
    font-family: Montserrat;
    color: white;
    font-size: 3.5vw;
  }

  .contact .contactFooter div {
    display: flex;
    justify-content: space-between;
    width: 15vw;
    margin-top: 2vh;
  }

  .contact .contactFooter div img {
    width: 4vw;
  }
}