body {
    margin: 0px;
}

button, text {
    -webkit-tap-highlight-color: transparent;
}

.home {
    display: flex;
    align-items: flex-end;
    height: 95vh;
    padding-bottom: 5vh;
}

.divHomeBanner img {
    width: 50vw;
}

.homeInfo {
    height: 95vh;
    justify-content: center;
    padding: 0px 5vw;
}

.homeInfo div {
    height: 0.4vh;
    width: 10vw;
    background: linear-gradient(270deg, rgba(0,236,208,1) 0%, rgba(25,185,207,1) 27%, rgba(43,148,207,1) 53%, rgba(75,84,206,1) 100% );
    border: 0;
    margin: 1.5vh 0px;
}

.homeSubTitle {
    font-size: 1.5vw !important;
    word-spacing: 1vw;
    margin-top: 1vh;
}

@media (max-width: 600px) {
    .home {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding-top: 18vh;
        height: 82vh;
        padding-bottom: 0px;
    }

    .divHomeBanner img {
        width: 90vw;
    }
    
    .homeInfo {
        height: auto;
        justify-content: center;
        padding: 0px 5vw;
        margin-bottom: 8vh;
    }

    .homeInfo .textTitle {
        margin-bottom: 1vh;
    }

    .homeInfo div {
        height: 0.35vh;
        width: 35vw;
        margin: 0.5vh 0px;
    }

    .homeSubTitle {
        font-size: 3.7vw !important;
        word-spacing: 1vw;
        margin-top: 1vh;
    }
    
}