.home {
    display: flex;
}

.divHomeBanner {
    overflow: hidden;
    height: 100vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBanner {
    height: 140vh;
    object-fit: cover;
}

.homeInfo {
    width: 55vw;
    position: relative;
}

.homeDiv {
    height: 90vh;
    display: flex;
    justify-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
    margin-top: 10vh;
}

.homeTitle {
    font-family: Prata;
    font-size: 2.4vw;
    color: white;
    margin: 0;
    margin-bottom: 2vh;
}

.homeLine {
    height: 4px;
    width: 10vw;
    background: linear-gradient(270deg, rgba(75,84,206,1) 0%, rgba(43,148,207,1) 27%, rgba(25,185,207,1) 53%, rgba(0,236,208,1) 100%);
    border: 0;
    margin: 10px 0px 10px 0px;
}

.homeSubTitle {
    font-family: Prata;
    font-size: 1.4vw;
    color: white;
    margin: 0;
}

@media (max-width: 600px) {
    .home {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    .home div{
        width: 100vw;
    }

    .homeDiv {
        height: 17vh;
        margin-top: 22vh;
        margin-bottom: 1vh;
    }

    .homeTitle {
        font-size: 5vw;
    }

    .homeLine {
        height: 2px;
        width: 40vw;
    }

    .homeSubTitle {
        font-size: 3vw;
    }

    .homeBanner {
        height: 80vh;
        margin-left: 14vw;
    }

    .divHomeBanner {
        height: 60vh;
    }
}