.portfolioFonts {
    display: flex;
    justify-content: flex-end;
}

.portfolioFonts .textHeader {
    font-size: 2.2vw;
    margin-bottom: 3vh;
}
  
.portfolioFonts .fonts {
    background-color: white;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;
    margin: 15vh 0px;
    padding-left: 5vw;
}

.portfolioFonts .fonts .fontsFamily {
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
}