.portifolioMobile .divImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portifolioMobile .divImage img {
  width: 100%;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}