.portifolioMobile .divCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.portifolioMobile .divCard img {
  width: 85vw;
  margin-bottom: 5vh;
}

@media (max-width: 600px) {
  .portifolioMobile .divCard {
    display: none;
  }
}