.contactForm {
  margin-top: 4vh;
}

.contactForm .cardContact .cardContactHeader div {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100%;
  padding: 0px 1vw;
}

.contactForm .cardContact .cardContactHeader div text {
  padding: 2vh 0px !important;
  font-size: 1.15vw;
  font-family: Montserrat;
  font-weight: 600;
}

.contactForm .cardContact .cardContactHeader div img {
  width: 2vw;
  cursor: pointer;
  margin-left: 0.5vw;
}

.contactForm .cardContact .cardContactContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contactForm .cardContact .cardContactContent input {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 6vh;
  outline: none;
  font-family: Montserrat;
  padding: 0px 1vw;
  font-size: 1vw;
}

.contactForm .bottomRightColumn {
  justify-content: flex-end !important;
}

.contactForm .cardContact .cardContactContent .inputInvalid {
  border: 2px solid red;
}

@media (max-width: 600px) {
  .contactForm {
    width: 80vw;
    margin-top: 0px;
    padding: 0px 10vw;
  }

  .contactForm .cardContact .cardContactHeader div img {
    width: 7vw;
  }

  .contact .rightCol .cardContact .cardContactHeader text {
    font-size: 3.5vw;
  }

  .contactForm .cardContact .cardContactContent input {
    height: 5vh;
    min-height: 30px;
    font-size: 3vw;
  }
}