.header {
    display: flex;
    flex-direction: row;
    height: 45px;
    margin-top: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
}

#menuHorizontal {
    transition: opacity 0.5s, margin-right 0.5s, visibility 0.5s;
    transition-timing-function: ease-out;
    margin-right: -7vw;
    opacity: 0;
    z-index: 8;
    visibility: hidden;
}

.open {
    margin-right: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.ant-menu-submenu-title {
    display: none !important;
}

.ant-layout-header {
    background: red;
    background-color: red;
}

.basic {
    color: white;
    font-size: 16px;
    font-family: Montserrat;
}

.basic:hover {
    border: red;
}

.menuButton {
    border: none !important;
    height: 40px;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
    background-color: #304448;
    border: 0 !important;
}

.menuButton img{
    width: 2vw;
}

.menuButton:active {
    transform: scale(0.95);
    opacity: 0.85;
}

.menuText {
    color: white;
    font-size: 12px;
    font-family: Montserrat;
    margin-left: 10px;
}

.menuButtonContact {
    background: linear-gradient(270deg, rgba(75,84,206,1) 0%, rgba(43,148,207,1) 27%, rgba(25,185,207,1) 53%, rgba(0,236,208,1) 100%);
    border: 0px;
    border-radius: 6px !important;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.menuButtonContact:hover {
    background: linear-gradient(270deg, rgba(75,84,206,1) 0%, rgba(43,148,207,1) 27%, rgba(25,185,207,1) 53%, rgba(0,236,208,1) 100%);
    
}

.menuButtonContact text {
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 13px;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: 2px solid #FFFFFF !important;
}

.ant-menu-item, .ant-menu-submenu-title {
    padding: 0 1vw !important;
}