.portifolioHeader {
  display: flex;
  align-items: center;
  padding: 2vh 0px 2vh 2vw;
  display: none;
}

.portifolioHeader text {
  font-family: Montserrat;
  color: white;
  font-size: 3.5vw;
  margin-left: 3vw;
  font-weight: 900;
}

.portifolioHeader img {
  width: 4vw;
  cursor: pointer;
  margin-left: 2vw;
}

@media (max-width: 600px) {
  .portifolioHeader {
    display: flex;
    background-color: #09292F;
    padding-top: 12vh;
  }
}