.globalStyle {
    background-color: #000000;
    font-family: 'Montserrat';
}

.globalStyle p {
    font-size: 1.1vw;
    color: white;
}

.globalStyle .textTitle {
    font-size: 2.2vw;
}

.globalStyle .textBorderBottom text:not(:last-child) {
    margin-bottom: 3vh;
}

.globalStyle .flexAlignDirection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.globalStyle .flexDirection {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .globalStyle p {
        font-size: 2.2vw;
    }
    
    .globalStyle .textTitle {
        font-size: 5.5vw;
    }
}